<p id="notice"><%= notice %></p>

<p>
  <strong>Establishment:</strong>
  <%= @veeresh.establishment %>
</p>

<p>
  <strong>Image:</strong>
  <%= @veeresh.image %>
</p>

<p>
  <strong>Canteen:</strong>
  <%= @veeresh.canteen %>
</p>

<p>
  <strong>Proprietor:</strong>
  <%= @veeresh.proprietor %>
</p>

<p>
  <strong>Seating capacity:</strong>
  <%= @veeresh.seating_capacity %>
</p>

<p>
  <strong>Car parks:</strong>
  <%= @veeresh.car_parks %>
</p>

<p>
  <strong>Number of tickets online:</strong>
  <%= @veeresh.number_of_tickets_online %>
</p>

<p>
  <strong>Number of tickets box:</strong>
  <%= @veeresh.number_of_tickets_box %>
</p>

<p>
  <strong>Total amount per day:</strong>
  <%= @veeresh.total_amount_per_day %>
</p>

<p>
  <strong>Screen:</strong>
  <%= @veeresh.screen_id %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @veeresh.booking_id %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @veeresh.feedback_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @veeresh.user_id %>
</p>

<%= link_to 'Edit', edit_veeresh_path(@veeresh) %> |
<%= link_to 'Back', veereshes_path %>
